<table width="100%" style="color:var(--accent);border-width:0px">
  <tbody>
    <tr>
      <td width="50%" style="text-align:left;border-width:0px;border-color:var(--accent);">
        {{ $format_str := "2 January 2006, 15:04"}}
        {{ $event_date := time.AsTime .Page.Params.event_date.start }}
        <strong style="font-size:20px;">Когда:</strong>
        <strong style="font-size:20px;color:var(--foreground);">{{ $event_date | time.Format $format_str  }}</strong>
      </td>
      {{ with .Page.Params.event_place }}
      <td width="5%" style="text-align:left;border-width:0px;border-color:var(--accent);">
        <strong style="font-size:20px;">Где:</strong>
      </td>
      <td width="45%" style="text-align:left;border-width:0px;border-color:var(--accent);">
        <strong style="font-size:20px;color:var(--foreground);">{{ .name | markdownify}}</strong>
      </td>

      {{ end }}
    </tr>
  </tbody>
</table>