{{ "## Расписание мероприятия" | markdownify }}
<div class="schedule-base">
  {{ range $k, $v := .Page.Params.schedule }}
    {{ if .divider }}
      <div class="schedule-row-divider">
        <div class="schedule-row-divider-content">
          {{ .divider | markdownify }}
        </div>
        <div class="schedule-row-divider-time">
          {{ .time }}
        </div>
      </div>
    {{ else }}
      {{ $image := resources.Get .speaker_image }}
      <div class="schedule-row">
        <div class="schedule-row-image-block schedule-desktop">
          <img class="schedule-row-image-content" src="{{ $image.RelPermalink }}" alt="Фото спикера" width=200 height="auto" />
        </div>
        <div class="schedule-row-speaker-block">
          <div class="schedule-row-image-block-mobile schedule-mobile">
            <img src="{{ $image.RelPermalink }}" alt="Фото спикера" width=200 height="auto" class="schedule-row-image-content" />
          </div>
          {{ .speaker_info | markdownify }}
        </div>
        <div class="schedule-row-time">{{ .time }}</div>
      </div>
    {{ end }}
  {{ end }}
</div>