{{ "## Форма регистрации" | markdownify }}
{{ with .Page.Params.sign_up_form }}
  {{ if .enabled }}
  <form action="https://docs.google.com/forms/d/{{ .id }}/formResponse" method="GET" target="_blank" name="{{ .name }}">
    <fieldset>
      <label for="{{ .last_name_field }}">Фамилия:</label>
      <input type="text" id="{{ .last_name_field }}" name="{{ .last_name_field }}" required>
      
      <label for="{{ .first_name_field }}">Имя:</label>
      <input type="text" id="{{ .first_name_field }}" name="{{ .first_name_field }}" required>
      
      <label for="{{ .email_field }}">E-mail:</label>
      <input type="email" id="{{ .email_field }}" name="{{ .email_field }}" required>

      <label for="{{ .speciality_field }}">Специальность:</label>
      <select id="{{ .speciality_field }}" name="{{ .speciality_field }}">
        <option value="Android разработчик">Android разработчик</option>
        <option value="iOS разработчик">iOS разработчик</option>
        <option value="Кросплатформенный разработчик">Кросплатформенный разработчик</option>
        <option value="QA инженер">QA инженер</option>
        <option value="Frontend инженер">Frontend инженер</option>
        <option value="Backend инженер">Backend инженер</option>
        <option value="Дизайнер">Дизайнер</option>
        <option value="Руководитель команды">Руководитель команды</option>
        <option value="Менеджер проектов/продукта">Менеджер проектов/продукта</option>
        <option value="Другое">Другое</option>
      </select>
      
      <button type="submit">Отправить заявку</button>
    </fieldset>
  </form>
  {{ else }}
  Регистрация на мероприятие завершена.
  {{ end }}
{{ end }}